<div class="header">
  <h1 class="text-center">This is an example of a question with one answer and four options</h1>
</div>

<div class="bar">
  <div class="timer animating"></div>
</div>

<div class="answer">
  <input type="radio" id="radio1" name="answer" />
  <label for="radio1">Answer One</label>
</div>

<div class="answer">
  <input type="radio" id="radio2" name="answer" />
  <label for="radio2">Answer Two</label>
</div>

<div class="answer">
  <input type="radio" id="radio3" name="answer" />
  <label for="radio3">Answer One</label>
</div>

<div class="answer">
  <input type="radio" id="radio4" name="answer" />
  <label for="radio4">Answer Two</label>
</div>

<button class="button button-center next-question">Submit</button>

<div class="overlay hide">
  <div class="center">
  <h3>Waiting for other players</h3>
  <h1 data-countdown>13s</h1>
  </div>
</div>
