<div class="header">
  <h1 class="text-center">This is an example of a question with one answer and four options</h1>
</div>

<div class="bar">
  <div class="timer animating"></div>
</div>

{{#each answers}}
  <div class="answer">
    <input type="radio" id="answer{{@index}}" name="answer" value="{{this}}" />
    <label for="answer{{@index}}">{{this}}</label>
  </div>
{{/each}}

<button class="button button-center" data-send-answer>Submit</button>

<div class="overlay hide">
  <div class="center">
  <h3>Waiting for other players</h3>
  <h1 data-countdown>13s</h1>
  </div>
</div>
