<h1>Admin</h1>
<h2>Quiz management</h2>

<h2 class="text-center">12s</h2>
<p class="text-center">This is an example of the current question that is being asked</p>

<div class="text-center">
  <button>Previous</button>
  <button>Pause</button>
  <button>Skip</button>
</div>

<h2>Teams</h2>
<div>Team one</div>
<button>Lock</button>
<button>Refresh</button>

<div>Team two</div>
<button>Lock</button>
<button>Refresh</button>
