<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">Quizmas - {{game}}</h1>
      <button class="button" data-quiz-event="start">Start</button>
    </div>
  </div>
  <div class="row hide" data-quiz="initialhide">
    <div data-quiz="current-question" class="text-center">
      <h2>Current Question</h2>
      <h3>
      </h3>
    </div>
    <div class="text-center">
      <button class="button" data-quiz-event="previous-question">Previous</button>
      <button class="button" data-quiz-event="pause-quiz">Pause</button>
      <button class="button" data-quiz-event="next-question">Skip</button>
    </div>
  </div>

  <div class="row" data-quiz="teams">
    <h2>Teams</h2>
    <div class="team-list">

    </div>
  </div>

  <template id="team-item">
    <div class="col-xs-12 col-sm-6 col-md-4 well text-center" data-quiz-socketId="{SOCKETID}">
      <h4 data-quiz="team-name">{TEAMNAME}</h4>
      <div class="hide" data-quiz="initialhide">
        <button class="btn btn-flat btn-lg" data-quiz-event="team-lock">
          Unlock
        </button>
        <button class="btn btn-flat btn-lg" data-quiz-event="team-refresh">
          Refresh
        </button>
      </div>
    </div>
  </template>
</div>
<script>
  var game = "{{game}}";
</script>
