@primary-color: #16a085;

.button  {
  padding: 20px 60px;
  background-color: @primary-color;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}

.button:hover {
  background-color: lighten(@primary-color, 10%);
}
