<div class="container">
  <h1>You have joined {{game}}</h1>

  <a href="/" class="button button-danger">Leave</a>

  <p class="text-center">
    Waiting for players to join
  </p>

    <div class="loader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

  <h3>Players</h3>

  <ul class="player-list">
    <li>
      Team one
    </li>
    <li class="highlighted">
      Team two (you)
    </li>
    <li>
      Team three
    </li>
    <li>
      Team three
    </li>
  </ul>

</div>
